<div class="page-content">
    <div class="carat-module">
        <div class="carat-module-title">
            Running:&nbsp;
            <% if(!hogBugsArray.running
               || hogBugsArray.running.length < 1) { %>
                None.
            <% } %>
        </div>
        <div class="carat-module-content"
             id="<%= cardLocIds.runningId %>">
        </div>
    </div>
    <div class="carat-module">
        <div class="carat-module-title">
            Inactive:&nbsp;
            <% if(!hogBugsArray.inactive
               || hogBugsArray.inactive.length < 1) { %>
                None.
            <% } %>
        </div>
        <div class="carat-module-content"
             id="<%= cardLocIds.inactiveId %>">
        </div>
    </div>
    <div class="carat-module">
        <div class="carat-module-title">
            System:&nbsp;
            <% if(!hogBugsArray.system
               || hogBugsArray.system.length < 1) { %>
                None.
            <% } %>
        </div>
        <div class="carat-module-content"
             id="<%= cardLocIds.systemId %>">
        </div>
    </div>
</div>
