<div class="page-content">
    <p>Running</p>
    <% for(var key in running) { %>
        <div class="mdl-card-background mdl-shadow--2dp">
            <%= running[key] %>
        </div>
    <% } %>
    <p>Inactive</p>
    <% for(var key in inactive) { %>
        <div class="mdl-card-background mdl-shadow--2dp">
            <%= inactive[key] %>
        </div>
    <% } %>
    <p>System</p>
    <% for(var key in system) { %>
        <div class="mdl-card-background mdl-shadow--2dp">
            <%= system[key] %>
        </div>
    <% } %>
</div>
