<div class="page-content">
    <% for(var key in rest) { %>
        <div class="mdl-card-background mdl-shadow--2dp">
            <%= rest[key] %>
        </div>
    <% } %>
    <p>Running</p>
    <% for(var key in running) { %>
        <div class="mdl-card-background mdl-shadow--2dp">
            <%= running[key] %>
        </div>
    <% } %>
</div>
