<div class="page-content">
    <div class="carat-module">
        <div class="carat-module-title">
            Running:
        </div>
        <div class="carat-module-content"
             id="<%= runningId %>">
        </div>
    </div>
    <div class="carat-module">
        <div class="carat-module-title">
            Inactive:
        </div>
        <div class="carat-module-content"
             id="<%= inactiveId %>">
        </div>
    </div>
    <div class="carat-module">
        <div class="carat-module-title">
            System:
        </div>
        <div class="carat-module-content"
             id="<%= systemId %>">
        </div>
    </div>
</div>
