<div class="page-content mdl-grid">
    <div class="mdl-card-background mdl-shadow--2dp"
         id="<%= runningId %>">
        <p>Running</p>
    </div>
    <div class="mdl-card-background mdl-shadow--2dp"
         id="<%= inactiveId %>">
        <p>Inactive</p>
    </div>
    <div class="mdl-card-background mdl-shadow--2dp"
         id="<%= systemId %>">
        <p>System</p>
    </div>
</div>
