<div class="overlay" id="popup-overlay" style="visibility: hidden; display: flex;">
    <div class="modal" id="popup-modal" style="display: flex;">
        <div class="mdl-card mdl-shadow--2dp">
            <div class="carat-card__title gray-title">
                <div class="mdl-card__title-text gray-title"><!-- Title --></div>
                <div class="mdl-layout-spacer"></div>
                <button class="mdl-button mdl-js-button mdl-button--icon close" data-upgraded=",MaterialButton">
                    <i class="material-icons"></i>
                </button>
            </div>
            <div class="mdl-card__supporting-text dialog-text"><!-- Text --></div>
            <div class="mdl-card__actions dialog-buttons">
                <button class="mdl-button mdl-js-button mdl-js-ripple-effec close">OK</button>
            </div>
        </div>
    </div>
</div>