<main class="mdl-layout__content">
    <!-- Home view -->
    <section class="mdl-layout__tab-panel is-active" id="home">

        <!-- Pie card -->
        <div class="page-content">
            <div class="mdl-card mdl-shadow--2dp">
                <div class="carat-caratCard__title">
                    <div class="mdl-card__title-text
                                carat_caratCard_title_text">
                        Global Statistics
                    </div>
                </div>
                <div class="carat-card__supporting-text">
                    <div class="canvas-container">
                        <canvas width="350" height="250"
                                id="chart"></canvas>
                    </div>
                    <ul id="chart-legend"></ul>
                </div>
            </div>
        </div>

    </section>

    <!-- Bugs tabs view -->
    <section class="mdl-layout__tab-panel" id="bugs">
        <div class="page-content mdl-grid">
        </div>
    </section>

    <!-- Hogs tab view -->
    <section class="mdl-layout__tab-panel" id="hogs">
        <div class="page-content mdl-grid">
        </div>

        <!-- System tab view -->
    </section>
    <section class="mdl-layout__tab-panel" id="system">
        <div class="page-content">
        </div>
    </section>
</main>
