<div class="mdl-card mdl-shadow--2dp"
     id="statistics-jscore"
     style="-webkit-user-select: none;
            -webkit-user-drag: none;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
    <div class="mdl-card__supporting-text in_large">
        <div class="list-item">OS version: <%= osVersion %></div>
        <div class-"list-item">Device model: <%= deviceModel %></div>
        <div class="list-item" style="display: inline-block;">
            CPU usage:&nbsp;
            <div id="cpuProgressBar" class="progressBar">
                <span>?</span>
                <div></div>
            </div>
        </div>
        <div class="list-item">Memory total: <%= totalMemory %> MiB</div>
        <div class="list-item" style="display: inline-block;">
            Memory usage:&nbsp;
            <div id="memProgressBar" class="progressBar">
                <span>?</span>
                <div></div>
            </div>
        </div>
        <div class="list-item">Carat id: <%= uuid %></div>
    </div>
</div>
