<div class="carat-module">
	    <div class="carat-module-title">
	    	Settings: <span id="system-card-count">0</span>
	    	<div id="system-card-refresh">
	    		<i class="material-icons">&#xE5D5;</i>
	    	</div>
	    </div>
	    <div class="carat-module-content" id="system-cards"></div>
</div>