<div class="mdl-cell mdl-cell--2-col mdl-cell--1-col-phone carat_summary_item" id="<%= id %>">
    <div class="carat_summaryCard_app_icon no-tap-event">
        <div class="mdl-card__icon_summary">
            <img class="no-tap-event" src="<%= icon %>">
        </div>
    </div>
    <div class="carat_summaryCard_app_name no-tap-event"><%= label %></div>
    <div class="carat_summaryCard_app_time no-tap-event"><%= benefit %></div>
</div>
