<div class="mdl-cell mdl-cell--2-col mdl-cell--1-col-phone carat_summary_item" id="<%= id %>">
    <div class="carat_summaryCard_app_icon">
        <div class="mdl-card__icon">
            <img src="<%= icon %>">
        </div>
        <i class="material-icons"></i>
    </div>
    <div class="carat_summaryCard_app_name"><%= label %></div>
    <div class="carat_summaryCard_app_time"><%= benefit %></div>
</div>
