<div class="mdl-card mdl-shadow--2dp" id="summary-0">
    <div class="mdl-card__supporting-text carat-card__supporting-text">
        <div class="ScoreAndBattery">
            <div class="carat-battery-text"></div>
            <button class="summary-statistics-button"
                onclick="window.location='statistics.html'">Global statistics</button>
            <div class="circleContainer">
                <div class="outerCircle">
                    <div class="innerCircle">
                        <div class="numberCircle">
                            <button class="info"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carat_summaryCard_group_title" id="bugTitleAndCount">
            <a href="javascript:;" style="text-decoration: none; color:#696969"
                onclick="window.history.pushState('#home', '', '#home');document.getElementById('bugs-tab').click();">
                <%= bugsCount %>
            </a>
        </div>
        <div id="card-summary-0-textpand">
            <div id="bugSummaryGrid" class="collapse in_large">
                <div class="carat_summary_grid" id="bugsGrid">
                </div>
            </div>
            <div class="carat_summaryCard_group_title" id="hogTitleAndCount">
                <a href="javascript:;" style="text-decoration: none; color:#696969"
                    onclick="window.history.pushState('#home', '', '#home');document.getElementById('hogs-tab').click();">
                    <%= hogsCount %>
                </a>
            </div>
            <div id="hogSummaryGrid" class="collapse in_large">
                <div class="carat_summary_grid" id="hogsGrid">
                </div>
            </div>
        </div>
    </div>
</div>
