<div class="page-content">
    <div class="carat-module">
        <div class="carat-module-title">
            System information:
        </div>
    <div class="carat-module-content" id="system-info"></div>
    </div>
    <div class="carat-module" id="system-card-list"></div>
</div>