<div>The J-Score represents the percentile battery life you see relative to all other devices
being measured by Carat.</div>

<div>So, if you have a J-Score of 50, that means your expected battery life is better than
half of our users; a score of 99 means you have better battery life than 99% of our users.</div>

<img src="img/jscore_plot.png" />

<div> Of course, a single number does not provide a complete description of your battery life.
A low J-Score could mean that your device is using a big battery inefficiently or a small
battery with average efficiency.</div>

<div>Similarly, a high J-Score could simply mean that you don't use your device heavily.</div>

<div>Carat computes a huge variety of statistics, and the J-Score is just one of them. </div>