/* = HOG/BUG INTRO */

.intro-container {
  margin: 9px 16px 0px 15px;
  padding-top: 7px;
  padding-bottom: 5px;
  height: 60px;
}

.intro-container img {
  display: block;
  margin-top: 1px;
  padding: 4px 16px 5px 3px;
  height: 45px;
  width: 45px;
}

.intro-image {
  text-align: center;
  display: inline-block;
  float: left;
  height: 100%;
}

.intro-text {
  text-align: left;
  padding-top: 2px;
  margin-right: 5px;
  line-height: 103%;
  overflow: hidden;
  font-size: 14px;
  color: rgb(139, 146, 155);
}


/* = ACTION BUTTON */

.action-button {
  margin-right: 6px;
  box-shadow: none;
  outline: 0;
  outline-style: none;
  outline-width: 0;
  text-align: center;
  text-transform: uppercase;
/*  font-weight: bold;*/
  font-size: 12px;
  vertical-align: middle;
  padding: 8px 14px 8px 14px;
  border: 2px solid #F7A71B;
  border-radius: 4px;
  background-color: #F7A71B;
/*  box-shadow: 1px 1px 0px #C0C0C0;*/
}

.action-info {
  display: inline-block;
  float: right;
  text-transform: uppercase;
  text-align: right;
  padding-top: 8px;
  padding-right: 10px;
}

.action-info-text {
  color: rgb(177, 177, 177);
  padding: 0px 0px 0px 3px;
  display: inline-block;
  font-size: 13px;
}

.action-button:disabled {
  background-color: #E0E0E0;
  border-color: #E0E0E0;
/*  box-shadow: 1px 1px 0px #B0B0B0;*/
  color: #B0B0B0;
}

/* = BENEFIT ERROR = */

.benefit-error {
  color: #B5B5B5;
  font-size: 13px;
  line-height: 10px;
  position:relative;
  top: -1px;
}


/* = EXPAND BUTTON = */

.expand-button {
  width: 40px;
  height: 30px;
  box-shadow: none;
  outline: 0;
  outline-style: none;
  outline-width: 0;
  text-align: center;
  vertical-align: middle;
  border: 2px solid #F7A71B;
  border-radius: 4px;
  background-color: #F7A71B;
}

.rotated-icon {
  -webkit-transform: scaleY(-1);
  transition: transform 0.5s ease;
}

.normal-icon {
  -webkit-transform: scaleY(1);
  transition: transform 0.5s ease;
}

.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}

/* = PROGRESS BAR = */

.progressBar {
  position: relative;
  display: inline-block;
  top: 2px;
  left: 2px;
  width: 100px;
  height: 13px;
  background-color: #F0F0F0;
}

.progressBar > span {
  position: absolute;
  top: -1px;
  left: 40%;
  font-size: 10px;
  color: #000;
}

.progressBar > div {
  width: 0%; /* initial value */
  height: 100%;
  background-color: #66BB6A;
}

/* = PROGRESS INDICATOR = */

#progress {
  margin-left: 10px;
  margin-bottom: 5px;
}

/* = JSCORE CIRCLE = */

#home .circleContainer {
  position: absolute;
  right: 12%;
  top: 15px;
}

.outerCircle {
  position: relative;
  border-radius: 50%;
  width: 68px;
  height: 68px;
  z-index: 2;
  background: #FBE2B6;
}

.innerCircle {
    position: absolute;
    border-radius: 50%;
    width: 62px;
    height: 62px;
    top: 50%;
    left: 50%;
    margin: -31px 0px 0px -31px;
    background: #FFF;
    color: #000;
    font-size: 30px;
    vertical-align: middle;
}

.numberCircle {
  position: absolute;
  top: 37.5%;
  text-align: center;
  vertical-align: middle;
}

#home .numberCircle {
  position: absolute;
  top: 24.5%;
  text-align: center;
  vertical-align: middle;
}


div.numberCircle > button {
    position: relative;
    width: 60px !important;
    height: 60px !important;
    left: 60px;
    bottom: 50px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    overflow: hidden;
    outline:none;
    background-image:url(../img/ic_info_black_24dp_1x.png);
}

/* = OTHER = */

.mdl-layout__header-row {
  margin-left: -8px;
}

.mdl-layout-icon {
  margin-top: 2px;
  margin-left: 3px;
}

/*just for testing purposes*/
.mdl-card-background {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  height: auto;
  overflow: hidden;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 3px;
    margin-top: 0px;
  z-index: 2;
  padding-left: 8px;
  padding-right: 8px;
  position: relative;
  /*background-color: #E8E8E8;*/

   /* background-position:5%50%, 95%50%;*/
    background-repeat: no-repeat;
  /*border-radius: 2px;*/
}

@media screen and (orientation:landscape) {
   .mdl-card-background {
    width: auto;
   }
}

@media screen and (orientation:portrait) {
   .mdl-card-background {
    width: 100%;
   }
}

/*just for testing purposes*/
.mdl-card-front {
  font-size: 16px;
  font-weight: 400;
  height: auto;
  overflow: hidden;
  width: calc(100%);
 margin: 0px;
  z-index: 3;
  position:inherit;
  background: rgb(255,255,255);
  border-radius: 2px;
  box-sizing: border-box; }

.animate {
    -webkit-transition:-webkit-transform .3s ease-in-out, opacity 0.85s ease-in-out;
/*    -moz-transition:all 400ms ease;*/
    transition:transform .3s ease-in-out, opacity 0.85s ease-in-out;
}

.carat-card__title {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgb(0,0,0);
  display: block;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
  -webkit-justify-content: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  line-height: normal;
  padding-top: 10px;
    padding-left: 15px;
    padding-right: 20px;
    padding-bottom: 5px;

  -webkit-perspective-origin: 165px 56px;
          perspective-origin: 165px 56px;
  -webkit-transform-origin: 165px 56px;
      -ms-transform-origin: 165px 56px;
          transform-origin: 165px 56px;
  box-sizing: border-box; }

.carat-card-time {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
    text-align:right;
    padding-right: 25px;
  color: #ff0000;
  display: block;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  font-weight: 100;
  line-height: normal;
  overflow: hidden;

  margin: 0; 
}

.carat-version {
    display: block;
    font-size: 14px;
    color: darkgray;
}
.carat-card__title-text {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
    font-size: 24px;
    font-weight: 600;
    padding-top: 10px;
    color:#616161;
  display: block;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  line-height: normal;
  overflow: hidden;
  -webkit-transform-origin: 149px 48px;
      -ms-transform-origin: 149px 48px;
          transform-origin: 149px 48px;
  margin: 0; }

.carat_card_actions {
    padding: 0px 0px 0px 0px;
}

.carat_summaryCard_title_text {
    font-size: 24px;
    font-weight: 400;
    padding-top: 10px;
    color:#616161;
}

.carat_summaryCard_app_time {
    text-align: center;
    color: #f00000
}

.carat_summaryCard_app_name {
    text-align: center;
}

.carat_summaryCard_app_icon {
    margin-left: auto;
    margin-right: auto;
    width: 99%;
    text-align: center;
}

.carat_summaryCard_first_group_title{
    font-weight: 400;
    font-size: 18px;
    color:dimgrey;
}

.carat_summaryCard_group_title{
    font-size: 18px;
    font-weight: 400;
    color:dimgrey;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: solid;
    border-width: 1px;
    border-color:#E8E8E8;
}

.carat_summaryCard_group_title_summary_time{
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    right: 20px;
    color: #f00000;
}

.carat_summaryCard_line {
    border-top: solid;
    border-width: 1px;
    border-color:#E8E8E8;
}

.carat_summary_grid {
    padding-top: 5px;
    padding-bottom: 15px;
    overflow: auto;
    display: flex;
}

.carat_summary_more_button {
    font-size: 14px;
    color: #a0a0a0;
    padding-bottom: 10px;
}

.carat_summary_item {
    flex: none;
}

.carat_hide {
    display: none;
}

/*wrapper for summary items */
.carat_show {
    display: inline-grid;
    overflow: hidden;
}

.collapse {
    font-size: 15px !important;
    max-height: 0px;
    overflow: hidden;
   /* -webkit-transition: ease-in 0.4s;*/
}
.collapse.in {
    max-height: 200px;
   /* -webkit-transition: ease-in 0.4s;*/
}

.collapse.in_large {
  max-height: 600px;
    /*-webkit-transition: ease-in-out 0.6s;*/
}

.carat-card__supporting-text {
  color: rgba(0,0,0, 0.54);
  font-size: 13px;
  line-height: normal;
  overflow: hidden;
  width: 90%; }

.carat-Jscore-text {
    padding-right: 30%;
    padding-bottom: 20px;
    padding-top: 10px;  
}

p {
    font-size: 16px;
    line-height: normal;
    padding-bottom: 10px;
}

.circleContainer {
  position: absolute;
  right: 10%;
  top: 68px;
}

.page-content {
    padding: 0px !important;
    overflow: hidden;
}

html, body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
}

.carat-avatar {
  width: 48px;
  height: 48px;
  border-radius: 24px;
}
.carat-layout .carat-header .mdl-textfield {
  padding-top: 27px;
}
.carat-layout .mdl-layout__header .mdl-layout__drawer-button {
  color: rgba(0, 0, 0, 0.54);
}

.mdl-layout__drawer .avatar {
  margin-bottom: 16px;
}
.carat-drawer {
  border: none;
}
/* iOS Safari specific workaround */
.carat-drawer .mdl-menu__container {
  z-index: -1;
}
.carat-drawer .carat-navigation {
  z-index: -2;
}
/* END iOS Safari specific workaround */
.carat-drawer .mdl-menu .mdl-menu__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.carat-drawer-header {
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 16px;
  height: 151px;
}
.carat-avatar-dropdown {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.carat-navigation {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.carat-layout .carat-navigation .mdl-navigation__link {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.56);
  font-weight: 500;
}
.carat-layout .carat-navigation .mdl-navigation__link:hover {
  background-color: #00BCD4;
  color: #37474F;
}
.carat-navigation .mdl-navigation__link .material-icons {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.56);
  margin-right: 32px;
}

.carat-content {
  max-width: 1080px;
}

.carat-charts {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.carat-chart:nth-child(1) {
  color: #ACEC00;
}
.carat-chart:nth-child(2) {
  color: #00BBD6;
}
.carat-chart:nth-child(3) {
  color: #BA65C9;
}
.carat-chart:nth-child(4) {
  color: #EF3C79;
}
.carat-graphs {
  padding: 16px 32px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
/* TODO: Find a proper solution to have the graphs
 * not float around outside their container in IE10/11.
 * Using a browserhacks.com solution for now.
 */
_:-ms-input-placeholder, :root .carat-graphs {
  min-height: 664px;
}
_:-ms-input-placeholder, :root .carat-graph {
  max-height: 300px;
}
/* TODO end */
.carat-graph:nth-child(1) {
  color: #00b9d8;
}
.carat-graph:nth-child(2) {
  color: #d9006e;
}

.carat-cards {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
}

.carat-cards .carat-separator {
  height: 32px;
}
.carat-cards .mdl-card__title.mdl-card__title {
  color: white;
  font-size: 24px;
  font-weight: 400;
}
.carat-cards ul {
  padding: 0;
}
.carat-cards h3 {
  font-size: 1em;
}
.carat-updates .mdl-card__title {
  min-height: 200px;
  background-image: url('images/dog.png');
  background-position: 90% 100%;
  background-repeat: no-repeat;
}
.carat-cards .mdl-card__actions a {
  color: #00BCD4;
  text-decoration: none;
}

.carat-options h3 {
  margin: 0;
}
.carat-options .mdl-checkbox__box-outline {
  border-color: rgba(255, 255, 255, 0.89);
}
.carat-options ul {
  margin: 0;
  list-style-type: none;
}
.carat-options li {
  margin: 4px 0;
}
.carat-options .material-icons {
  color: rgba(255, 255, 255, 0.89);
}
.carat-options .mdl-card__actions {
  height: 64px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.mdl-card.mint {
	background-color: #b2dfdb;	
}

.mdl-card.mint .mdl-card__supporting-text {
	color: #006064;
	text-align: center;
}

.mdl-layout__tab {
  font-weight: bolder;
}

section.mdl-layout__tab-panel div.page-content {
    margin-top: 8px;
    margin-bottom: 8px;
}

.mdl-card.sleeker {
    z-index: 2;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: 8px;
    width: calc(100% - 16px);
    overflow: hidden; 
}

.restored {
    /*      box-shadow: inset 0 0 20px rgba(180,180,180, 1);*/
    background-color: rgb(255,255,255);
}

.mdl-card.sleeker div.carat-card__title {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0px;
    display: inline-block;
}

.mdl-card.sleeker .mdl-card__supporting-text {
    padding: 10px 15px;
}

.mdl-card.sleeker .mdl-card__title-text {
    font-size: 20px;
    font-weight: light;
    color: #616161;
    display: block;
    padding-left: 60px;
}

.mdl-card.sleeker div div span.button {
    padding: 8px 12px;
    font-size: 14px;
    background: #ccc;
    display: block:
    width: 200px;
    border-radius: 3px;
    cursor: pointer;
}

.mdl-card.sleeker div a.mdl-card__more {
    width: 2px;
    height: 10px;
    float: left;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0px;
    margin-right: 20px;
    display: inline;
}

.mdl-card.sleeker div .mdl-card__actions {
    width: inherit;
    padding: 0px 8px;
}

.mdl-card.sleeker .carat-card-time {
    color: #bf360c;
    font-size: 16px;
    display: block;
    text-align: left;
    padding-left: 60px;
    
}

.mdl-card.sleeker .icon {
    height: 42px;
    width: 42px;
    float: left;
    margin: 0 15px 0 0;
    background: url("apple.png") top left no-repeat;
}

.mdl-card.sleeker div.mdl-card__icon img {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 15px;
    top: 16px;
}

#home .mdl-card.sleeker .mdl-card__supporting-text {
    padding-top: 15px;
    padding-bottom: 25px;
}

#home .mdl-card.sleeker .mdl-card__supporting-text .collapse.in {
    padding-bottom: 0px;
}

#home .mdl-card.sleeker p {
    padding-top: 8px;
    -webkit-margin-after: 0em;
}

#home .mdl-card.sleeker #version {
    padding-top: 8px;
}


.mdl-card .expand {
    display: inline;
    position: absolute;
    right: 15px;
    color: #B8B8B8;
}

#bugs .bar {
    background-color: #eeeeee;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-right: 10px;
    margin-left: 15px;
    color: #757575;
    
}

#bugs .bar .button{
    float: right;
}

#home .mdl-card__supporting-text {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.carat-caratCard__title {
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    display: inline-block;
}
.carat-caratCard__title-text {
    font-size: 20px;
    font-weight: light;
    color: #616161;
    display: block;
    padding-left: 0px;
}

#home .carat-card__supporting-text {
    color: rgba(0,0,0, 0.54);
    font-size: 13px;
    line-height: normal;
    overflow: hidden;
    width: calc(100% - 30px); }

#system .mdl-card__supporting-text {
    padding: 15px 15px;
}

#system .carat-card__title {
    border-bottom: solid;
    border-width: 1px;
    border-color:#E8E8E8;
    padding-top: 5px;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 0;
    padding-right: 0;
}

.gray-title > .carat-card__title {
    background-color: #CFD8DC;
}

.smaller-time-text > span.carat-card-time {
    font-size: 60%;
    display: block;
}

.carat_Card_title_text {
    font-size: 24px;
    font-weight: 600;
    padding-top: 10px;
    color: #616161;
}

[data-icon]:before {
    font-family: icons; /* BYO icon font, mapped smartly */
    content: attr(data-icon);
    speak: none; /* Not to be trusted, but hey. */
}

.show-on-expand {
    /*    display: none;*/
    /*
    -webkit-transition:opacity 0.15s ease-in-out;
    transition:opacity 0.15s ease-in-out;
   */
}

.is-a-hog {
    font-size: 110%;
    color: #FF0000;
}

.mdl-menu__container, .mdl-menu__outline {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

.sleeker > .mdl-card--border {
    border-top: 1px solid rgba(0, 0, 0, 0.1); 
}

.canvas-container {
    width: 100%;
    text-align: center;
}

.canvas-container canvas {
    display: inline;
}

.carat-module {
    padding-top: 16px;
    padding-bottom: 4px;
    width: auto;
}

.carat-module-title {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;  
    margin-left: 8px;
    color: dimgray;
}

.worstBug, .worstHog {
}

.ScoreAndBattery {
    margin-bottom: 25px;
    margin-top: 8px;
}

.ScoreAndBattery .carat-Jscore-text {
    /*
    padding-right: 30%;
    padding-bottom: 20px;
    padding-top: 32px;
   */
    
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 0;

}

.carat-battery-text {
    color: rgba(0,0,0, 0.54);
    font-weight: 500;
    font-size: 20px;
    padding-top: 20px;
    width: 60%;
    text-align: center;
    margin-bottom: 10px;
}

.carat-battery-text > p {
    color: rgba(0,0,0, 0.54);
    font-size: 16px;
    text-align: center;
}

#card-statistics-jscore-textpand > div {
    margin-bottom: 12px;
}

.chartLegend {
    -moz-border-radius:7px 7px 7px 7px;
    border-radius:7px 7px 7px 7px;
    margin-right:4px;
    width:15px;
    height:15px;
    float:right;
    display:inline-block;
}

.mdl-card.sleeker.system {
    margin-left: 8px;
    margin-right: 8px;
    width: calc(100% - 16px);
}

.suggested-action {
    color: #F7A71B;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 6px;
}

#system .system .carat-card__title {
    border-width: 0;
    padding-top: 15px;
}

.system .mdl-card__icon {
    border-radius: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    text-align: center;
    color: dimgray;
    background-color: darkgray;
    height: 40px;
    position: absolute;
    left: 15px;
    top: 15px;
}

.system .mdl-card__icon .material-icons {
    line-height: 40px;
    vertical-align: middle;
}


.no-reports .mdl-card__title-text {
    padding-top: 15px;
    width: 100%;
    color: #F7A71B;
    font-weight: 600;
}

.no-reports .mdl-card__supporting-text {
    padding-top: 0px;
    padding-left: 15px;
    padding-right: 20px;
}

.no-reports .mdl-card__supporting-text > div {
    padding-top: 15px;
}
