	.overlay {
  		position: absolute;
  		top: 0;
  		left: 0;
        height: 100%;
  		width: 100%;  
  		z-index: 10;
        overflow: hidden;
  		background-color: rgba(0,0,0,0.5);
  		visibility: hidden;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
	}

	.modal {
		width:90%;
        max-height: 90%;
        overflow: auto;
		z-index: 20;
		visibility: hidden;
	}